Library
Logs
Temp
.vsconfig
.idea
.plastic
.vs
Assembly-Csharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
*.sln
Assets/StreamingAssets/
UserSettings/
obj/
/Build/
/Server/
/yoo/
/HybridCLRData/
/Bundles/
